html, body
  overflow auto

.card__title
  display block

.application.theme--light
  background #EEE !important

canvas
  max-width 100% !important

.show-actions
  top 0 !important

.toasted
  font-family Roboto, sans-serif
  line-height 1.5

  .action
    font-weight bold
